<body>
    <form>
    <table>
            <tr>
               <td colspan="2">
               
                       <h1 >
                       Login Here!!
                       </h1>
               </td>
           </tr>
           <tr>
               <td >
               Username:
               </td>
               <td>
                   <input type="text" />
               </td>
           </tr>
           <tr>
               <td>
               Password:
               </td>
               <td>
                   <input type="password" />
               </td>
           </tr>
           <tr>
               <td>
               
               </td>
               <td>
                   <input type="button" value="Login" style="margin-right:10px ;"/>
                   <input type="reset" value="Reset" /> 
              </td>
           </tr>
            <tr>
               <td colspan="2" style="padding-left:250px ;">
                     <a href="/">Forgot Password?</a>
                </td>
           </tr>
          
        </table>
    </form>
</body>


