button{
    
    height: 50px;
    width: 300px;
    font-size: x-large;
    box-sizing: border-box; 
    background-color: white;
   box-shadow:0 4px 8px 0 #47d147, 0 6px 20px 0 #47d147;
   border: 1px solid white;
   
}



.style{
    
    margin-left: 150px;
    
    margin-top: 50px;
}
 


.logo{
    padding-left: 500px;
    padding-top: 50px;
}