button{
    height: 50px;
    width: 300px;
    font-size: x-large;
    box-sizing: border-box; 
    background-color: white;
   box-shadow:0 4px 8px 0 #47d147, 0 6px 20px 0 #47d147;
   border: 1px solid white;
   
}
body{
    align-items: center;
 
    margin-left: 620px;
    margin-top: 150px;
  
}
button:hover{
    height: 60px;
    width: 310px;
    
}